.date-range-item-wrapper{
    display: flex;
    flex-direction: row;    
    justify-content: flex-start;
    width: 85%;
    max-width: 400px;
    margin: 10px auto;
}
.view-date-range-btn{
    width: 100%;
    text-align: left;
    padding: 15px 10px;
    text-decoration: none;
}
.dates-display{
    margin-left: 10px;
    text-decoration: underline;
}
.item-options-btn{
    width: 15%;
    min-width: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,.85);
    border-radius: 0;
}