.list-page-header{


}
.list-page-header .controls-wrapper{
    display: flex; 
    justify-content: flex-start;
    align-content: center;
    color: #efefef;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.list-page-header button {
    font-size: 18px;
    padding: 10px 14px;
    background-color: rgba(30,30,30,.1);
    color: #efefef;
}

.list-page-header .header-text{
    display: flex;
    width: 80%;
    align-items: center;
    margin-left: 30px;
    font-size: 21px;
}
