body{
    font-size: 18px;
    background-color: #eee;
}

hr {
    background-color: #888;
    width: 85%;
    margin: 2px auto;

}
button, .btn{
    transition: background-color 200ms ease-out;
    border: 0px;
    background-color: #eee;
    color: #333;
    cursor: pointer;
    padding: 5px; 
    border-radius: 2px;
}

button:disabled, .btn:disabled{
    cursor: not-allowed;
    background-color: #adadad;
}

.action-btn {
    box-shadow: 0 2px 5px 0px rgba(0,0,0,.4);
}