.selectable-list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selectable-list-item .item-info{
    padding: 10px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width:100%;
}
.selectable-list-item .item-info i {
    margin-right: 6px;
}

.selectable-list-item .item-info:hover {
    text-decoration: underline;
}