.modal-body {
    transition: height 300ms; 
    display: flex;

    flex-direction: column;
    width: 97%;
    max-width: 400px;
    margin: 10px auto;
    border-radius: 3px;
    background-color: #efefef;
    overflow: auto;
}