/* APP-WIDE COLORS */

/* Danger ( #D63F3F )  */
.bg-danger{ background-color: #D63F3F; }
.text-danger{ color: #D63F3F; }
.border-danger{ border-color: #D63F3F; }

/* Member ( #1E90DA ) */
.border-member{border-color: #1E90DA }
.text-member{color: #1E90DA }
.bg-member{background-color: #1E90DA }

/* Group ( #A839BA ) */
.border-group{border-color: #A839BA }
.text-group{color: #A839BA }
.bg-group{background-color: #A839BA }

/* Task ( #B0613B ) */
.border-task{border-color: #B0613B }
.text-task{color: #B0613B }
.bg-task{background-color: #B0613B }

/* Day ( #B70046 ) */
.border-day{border-color: #B70046 }
.text-day{color: #B70046 }
.bg-day{background-color: #B70046 }

/*Schedule ( #DA5700 ) */
.border-sched{border-color: #DA5700}
.text-sched{color: #DA5700 }
.bg-sched{background-color: #DA5700 }

/*Data ( #A839BA ) */
.border-data{border-color: #A839BA }
.text-data{color: #A839BA }
.bg-data{background-color: #A839BA }