.sched-page-controls-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    max-width: 250px;
    margin: 0 auto;
}

.sched-control{
    padding:5px 10px;
    border-radius: 2px;
}
