.expandable-view-list-item{
    border: 3px solid #ddd;
    border-right-width: 0px;
    border-left-width: 2px;

    width: 97%;
    margin: 5px auto 0;
    background-color: #f4f4f4;

    box-shadow: 0 1px 6px -2px #222;

}
.view-list-item-header.expandable button{
    color: #ddd;
    background-color: rgba(240,240,240,.1);
    border-radius: 2px; 

}
.expandable-view-list-item>.view-list-item-content>.view-list-item-wrapper{
    margin-top: 10px;
    margin-bottom: 10px;
    border-left-width: 2px;
    border-left-style: solid;
}